BODY { FONT-FAMILY: Arial }
	TD { FONT-SIZE: 12px; FONT-FAMILY: Arial }
	.bbarold { BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; FONT-WEIGHT: bold; BACKGROUND: #000084; BORDER-LEFT: #666 1px solid; COLOR: white; BORDER-BOTTOM: #666 1px solid }
	.bbar1 { BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; BACKGROUND: #e5e5e5; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid }
	.tbar1 { BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 10px; BACKGROUND: #e5e5e5; PADDING-BOTTOM: 10px; BORDER-LEFT: #999999 1px solid; COLOR: #333333; PADDING-TOP: 10px; BORDER-BOTTOM: #999999 1px solid }
	.tbart { COLOR: #ffffff; bBACKGROUND: #e5e5e5 }
	.th7 { BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffcc }
	.bbar2 { BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: gray 1px solid; COLOR: #333322; PADDING-TOP: 2px; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #e0e0e0 }
	.btn { BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BACKGROUND: url(images/back03big.gif) #fff 50% top; FILTER: progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffe5e5e5'); MARGIN-BOTTOM: 1px; BORDER-LEFT: gray 1px solid; COLOR: #333333; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: arial,'trebuchet ms',helvetica,sans-serif; dfont-size: 84%; ffont-weight: bold; bbackground-color: #fff; bborder-top-color: #696; bborder-left-color: #696; bborder-right-color: #363; bborder-bottom-color: #363 }
	.btnhov { BORDER-LEFT-COLOR: #dcdcd7; BORDER-BOTTOM-COLOR: #dcdcd7; COLOR: #333333; BORDER-TOP-COLOR: #dcdcd7; BACKGROUND-COLOR: #cc9900; BORDER-RIGHT-COLOR: #dcdcd7 }
	.bbar { FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; 	
	background: #194c75;filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ff4883b8',EndColorStr='#ff194c75');
	background: #194c75 -webkit-gradient(linear, left top, left bottom, from(#4883b8), to(#194c75));
	background: #194c75 -moz-linear-gradient(top, #4883b8, #194c75);
 COLOR: #ffffff; TEXT-ALIGN: center }
	.tbar { BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 10px; 	
	background: #194c75;filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ff4883b8',EndColorStr='#ff194c75');
	background: #194c75 -webkit-gradient(linear, left top, left bottom, from(#4883b8), to(#194c75));
	background: #194c75 -moz-linear-gradient(top, #4883b8, #194c75);
 PADDING-BOTTOM: 10px; BORDER-LEFT: #999999 1px solid; COLOR: #ffffff; PADDING-TOP: 10px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Arial; TEXT-ALIGN: center }
	.conf { BORDER-RIGHT: gray 1px solid; BORDER-LEFT: gray 1px solid; BACKGROUND-COLOR: #f9f9f9 }
	A { COLOR: #305081 }
	
.button {
   color: white;
   font-family: Arial, Helvetica, Sans-Serif;
   font-weight:bold;
   text-decoration: none;
   vertical-align: middle;
   -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;	
	float: left;  
	margin-top:4px;
	text-align:center;
   }
.blue {
   color: white;
	bborder-top: 1px solid #194c75;
	background: #194c75;
	background: #194c75 -webkit-gradient(linear, left top, left bottom, from(#4883b8), to(#194c75));
	background: #194c75 -moz-linear-gradient(top, #4883b8, #194c75);
	filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ff4883b8',EndColorStr='#ff194c75');
}
.blue:hover {
   color: white;
   bborder-top-color: #1c5079;
   background: #1c5079;
   	background: #1c5079 -webkit-gradient(linear, left top, left bottom, from(#5e9ed8), to(#1c5079));
	background: #1c5079 -moz-linear-gradient(top, #5e9ed8, #1c5079);
	filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ff5e9ed8',EndColorStr='#ff1c5079');
   }
.blue:active {
   color: white;
	bborder-bottom-color: #194c75;
	background: #1b435e;
	background: #1b435e -webkit-gradient(linear, left top, left bottom, from(#194c75), to(#6ba5d3));
	background: #1b435e -moz-linear-gradient(top, #194c75, #6ba5d3);
	filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ff194c75',EndColorStr='#ff6ba5d3');
   }
   
   

   
.large {
	padding: 10px 20px;
	font-size: 17px;
	height: 23px;
}

.medium {
	padding: 6px 12px;
	font-size: 14px;
	height: 20px;
}

.small {
	padding: 4px 8px;
	font-size: 11px;
	height: 17px;
}