
body {
  padding-top: 20px;

}
footer {
  padding-left: 15px;
  padding-right: 15px;
}


#sidebar {
    padding:15px;
    margin-top:20px;
    background-color: #2F354F;;
    height: 100%;
    display:inline-block;
	right:0;
	width:20%;
	position:fixed;
	overflow-y:scroll;
	overflow-x:hidden;
}
.sidebar-nav{
	
}

#opencanvass{
	position:fixed;
	left:5%;
	display:none;
}


#content{
	display:inline-block;
	float:left;
	overflow:hidden;
	width: 75%;
	margin-left:20px;
}
#content p{
	font-size:medium;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:#ecf0f1;
	
    display:inline-block;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%; 
  }

  .row-offcanvas-left.active
  .sidebar-offcanvas
  {
    left: -5%; 
  }

   .row-offcanvas-left.active #opencanvass{
	   left:20%;
   }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
	
    display:inline-block;
  }
  
	#content{
		width: auto;
	}
	#sidebar{
		position:absolute;
		z-index:1;
	}
	#navbartop{
		z-index: 2 !important;
	}
	.sidebar-nav{
		}
	#opencanvass{
		display:block;
	}
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {


/*  phone to portrait tablet */
@media (max-width: 768px) {
  #sidebar{
  }
   
}
/*pang ipad pro*/
@media (max-width: 1026px){
  
  
}

/* para sa malalaking monitor */
@media (min-width: 1200px) {
  

}